/* Estilos para a barra de navegação */
.container {
    display: flex;
    background-color: black;
    gap: 2px;
    height: 56px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.seta {
    padding: 20px;
    width: 30px;
    height: 30px;
    background-image: url("");
    /* Adicione sua URL de imagem aqui */
    background-size: contain;
    cursor: pointer;
}

.btn {
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: none;
    text-decoration: none;
}


.btnlogin {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
}

.container_btn {
    display: flex;
    padding: 30px 20px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.container_btn :hover {
     transform: scale(1.1);
        /* Aumenta a escala para 110% no hover */

}

/* Estilos para o rodapé */
/* Estilos para o rodapé */
.footer {
    display: flex;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 20px;
    align-items: center;
}

.conteudofooter {
display: flex;
    color: grey;
    background-color: black;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
}

.listafooter {
    display: flex;
}

.stylecompanhia {
    font-weight: bold;
    color: white;
    cursor: pointer;
    list-style-type: none;
    padding-right: 14px;
}

.footerlista {
    display: flex;
    align-items: center;
}

.stylespan {

    margin-bottom: 10px;
    font-size: 16px;
    padding: 0.1px;
    cursor: pointer;
    width: 60%;
    padding-right: 14px;
}



/* Consulta de mídia para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .btn {
        font-size: 20px;
    }

    .btnlogin {
        padding: 8px 16px;
        font-size: 16px;
    }
}
